<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Discord.Net" version="0.9.0-rc3-3" targetFramework="net452" />
  <package id="GiphyDotNet" version="1.0.0.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net452" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net452" />
  <package id="NLog" version="2.0.1.2" targetFramework="net452" />
  <package id="RedditSharp" version="1.0.22" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="ThinkingHome.Core.Plugins" version="2.0.0.48" targetFramework="net452" />
  <package id="ThinkingHome.Plugins.Timer" version="2.0.0.81" targetFramework="net452" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net452" />
</packages>